<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
<!--    dbcp, mybatis 연동설정 -->
<bean id="dbcp" class="org.apache.commons.dbcp2.BasicDataSource">
   <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
   <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
   <property name="username" value="scott"/>
   <property name="password" value="tiger"/>
</bean>

<!-- mybatis와 spring 연동 설정 -->
<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
<!-- DI 하는중  -->
		<property name="dataSource" ref="dbcp"/>
		<!-- DI 하는중, (config 아래에 있는 모든 mapper 계열의 xml을 로딩하겠다.) -->
		<property name="mapperLocations" value="classpath:/mybatis/config/*.xml"/>
		<!-- 패키지별로 별칭이 잡히게 해준다.(org.kosta.model.vo 패키지 아래의 클래스는 모두 자동으로 소문자로 시작하는 클래스명으로 별칭을 주도록 설정
		ex) org.kosta.model.vo.ProductVO의 별칭은 productVO로! -->
		<property name="typeAliasesPackage" value="org.kosta.model"/>
		<property name="configuration">
		   <bean class="org.apache.ibatis.session.Configuration">
		      <property name="mapUnderscoreToCamelCase" value="true"/>
		   </bean>
		</property>
		<!-- mybatis와 spring 연동 설정 끝 -->
</bean>

<!-- 
	  MyBatis Spring 연동시 개발 생산성을 위해 SqlSessionTemplate 클래스를 이용
      SqlSessionTemplate은 선언적 방식의 트랜잭션 제어를 지원(AOP기반 Transaction 제어)
 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactoryBean"/>
	</bean>

<!-- IOC 설정 -->
<context:component-scan base-package="org.kosta"/>

<!-- SpringMVC 설정 -->
<mvc:annotation-driven/>

<!-- client에게 응답하는 view에 대한 설정 -->
<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/views/"/>
	<property name="suffix" value=".jsp"/>
</bean>

</beans>
