*{padding:0; margin:0;}

body {font-family: 'Nanum Gothic', sans-serif;letter-spacing: 2px;color:black;font-size:12px;}
a{text-decoration:none;}
li{list-style:none;}
#topMenu{width:100%; height:100px; background-color:#1C1C1C;}
#topWrap{width:1260px; margin:0 auto; position:relative;}
#topWrap h1{position:absolute; top:20px; left:40px;}
#topWrap .top{position:absolute; top:10; right:0;}
#topWrap .top li{float:left;}
#topWrap .top li a{color:#FFF; display:block; padding-left:10px; font-size:11px;}
#topWrap .menu{position:absolute; top:50px; left:250px;}
#topWrap .menu li{float:left;}
#topWrap .menu li a{color:#FFF; display:block; margin-right:60px; font-size:16px; font-weight:bold;}

#subMenu{width:100%; height:100px; background-color:#ffffff; border-bottom:2px solid red; position:absolute; top:100px; left:0; z-index:1; display:none;}

#subMenu #sub{width:1000px; margin:0 auto; height:100px; 
overflow:hidden; padding-left:110px; }
#subMenu #sub > li{float:left; width:130px; border-right:1px solid #ebebeb; height:200px;}
#subMenu #sub li a{display:block; color:#666; padding:5px 3px 5px 10px; }
#subMenu #sub li a:hover{background-color:#333; color:#FFF;}

/*게시글 CSS*/
.boardClassMain{
   	background-color: white;
	color: black;
	position:relative;
	top:50px;
    padding-bottom: 40px;
    margin-bottom: 80px;
   	padding-top: 15px;
   	border: 2px solid red;
}
.boardClassMain a, a:hover{
	color:black;
}

/*상품관리 이미지*/
.productListDiv{
	width:90%;
	margin-left:5%;
	height: 100%;
}
.productListDiv table{
	width:100%;
	padding:50px 0.5%;
	border-collapse: separate;
	border-spacing: 0 40px;
}
.productListDiv table tr td{
	width:23%;
	margin:0px 1.5%;
	position:relative;
}
.productListDiv table .row{
	position: absolute; 
	bottom:0px;
	width:92%;
}
.productListDiv .productListTd{
	border-top-width:0px;
}
.productListDiv img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
	object-fit:fill;
}
.tabled{
	width: 100%;
	margin-bottom: 1rem;
 	color: #212529;
 	padding:50px;
 	vertical-align: middle
}
.tabled .picTd{
	height:400px;
	width:60%;
}
.picTd img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
	object-fit:fill;
}
.tabled th,
.tabled td {
  padding: 0.75rem;
  vertical-align: middle
}

.tabled .detail{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
    width:100%;
    height:100px; 
    margin:100px 0; 
}

/*버튼*/
.btn {
	padding: 5px 10px;
	color: black;
	transition: 0.3s;
	border-radius: 25px;
	z-index: 999;
	white-space: nowrap;
	text-align: center;
}

.btn-lg {
	padding: 10px 30px;
	border-radius: 25px;
}

.btn-md {
	padding: 5px 30px;
	border-radius: 25px;
}

.btn-md:active, .btn-md:focus {
	background-color: #E50914;
}

.btn-primary, .btn-primary:hover {
	background-color: #E50914;
	border-color: #E50914;
	box-shadow: 0 8px 16px 0 #E50914;
}

.btn-secondary, .btn-secondary:hover {
	background-color: #141414;
	border-color: #141414;
	box-shadow: 0 8px 16px 0 #141414;
}

a, a:hover {
	color: white;
}

.justify {
	text-align: justify;
}

.icon-nav {
	margin: 0 5px;
	opacity: 0.5;
}

.active>.icon-nav, .icon-nav:hover {
	opacity: 1;
}

.margin-top {
	margin-top: 50px;
}

.margin-bottom {
	margin-bottom: 100px;
}

.margin-top-under-sm {
	margin: 20px 0;
}

.margin-right {
	margin-right: 50px;
}

.margin-right-md {
	margin-right: 20px;
}

.margin-right-sm {
	margin-right: 3px;
}

.padding-bottom-sm {
	padding-bottom: 3px;
}

.navbar-toggler {
	margin: 10px 0;
}

.menu-navbar-toggler {
	margin: 10px 0;
}
/*FAQ*/
.boardClassMainFaQ{
	background-color: white;
	color: black;
	position:relative;
	top:50px;
    padding-bottom: 40px;
    margin-bottom: 80px;
   	padding-top: 15px;
   	border: 2px solid red;
}
.boardDetailBtnFaQ{
	color:black;
	margin:auto 50px;
	border-radius: 0px;
	width:20%;
	margin-left: 40%;

}
.btnFaQ {
	padding: 5px 10px;
	color:black;
	transition: 0.3s;
	border-radius: 25px;
	z-index: 999;
	white-space: nowrap;
	text-align: center;
}
.boardDetailBtnFaQ{
	color:black;
	margin:auto 50px;
	border-radius: 0px;
	width:10%;
	margin-left: 40%;

}
.btn-listFaQ{
	float:left;
	margin-left:45%;
	width:10%;
}
.btn-resetFaQ{
	float:left;
	margin-left:45%;
	width:10%;
}
.btn-submitFaQ{
	float:left;
	margin-left:45%;
	width:10%;
}
.boardTdFaQ{
	width:10%;
	text-align: center;
}
.boardCtFaQ{
	width:10%;
	text-align: center;
}
.boardTextareaFaQ{
	width:100%;
	height:360px;
	overflow: scroll;
}
.boardTitleFaQ{
	width:100%;
}
.th_titleFaQ{
	text-align: left;
	width:66%;
}
.th_authorFaQ{
	text-align: center;
	width:10%;
}
.th_dateFaQ{
	text-align: center;
	width:10%;
}
.th_likesFaQ{
	width:7%;
	text-align: center;
}
.th_hitsFaQ{
	width:7%;
	text-align: center;
}
.td_titleFaQ{
	text-align: left;
	color: black;
}
.td_authorFaQ{
	text-align: center;
}
.td_dateFaQ{
	font-size: 8px;
	text-align: center;
}
.td_likesFaQ{
	text-align: center;
}
.td_hitsFaQ{
	text-align: center;
}
