@charset "UTF-8";

#faq-delete-btn {
box-shadow: 3px 4px 0px 0px #1564ad;
background:linear-gradient(to bottom, #83c0ff 5%, #fe2dfc 100%);
background-color:#fe2dfc;
border-radius:7px;
border:1px solid #337bc2;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:20px;
font-weight:600;
padding:10px 40px;
text-decoration:none;
}