@font-face {
	font-family: 'BebasNeue';
	src: url("../fonts/BebasNeue.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'BebasNeue';
	letter-spacing: 2px;
	background-color: #141414;
	color: white;
}

h5 {
	letter-spacing: 2px;
	color: white;
	font-size: 17px;
}

.card {
	display: none;
}

.card-deck {
	margin: 10px 0 40px 0;
}

.deck-diplayNone {
	display: none;
}

.logo {
	padding: 0;
	margin-right: 100px;
}

.navbar, .nav-fill {
	background-color: transparent;
}

.nav-link {
	padding: 1rem;
	color: rgba(255, 255, 255, 0.5);
}

.nav-link .active {
	color: white !important;
}

.active>.nav-link {
	font-weight: bold;
	border-bottom: 2px solid #E50914;
}

a.navbar-nav-item, .nav-link>img {
	margin: 0 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	border-bottom: 2px solid #E50914;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

.avatar {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-color: white;
	vertical-align: middle;
	margin: auto;
	margin-left: 25px;
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-indicators li {
	margin-left: 10px;
	margin-right: 10px;
	height: 5px;
	width: 50px;
}

.carousel-caption {
	width: 100%;
	text-align: left;
	right: 0;
	left: 0;
	transform: translateY(-50%);
	bottom: 0;
	top: 50%;
}

.carousel-caption p {
	width: 33%;
}

.carousel-caption h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a, a:hover {
	color: white;
}

.justify {
	text-align: justify;
}

.icon-nav {
	margin: 0 5px;
	opacity: 0.5;
}

.active>.icon-nav, .icon-nav:hover {
	opacity: 1;
}

.margin-top {
	margin-top: 50px;
}

.margin-bottom {
	margin-bottom: 100px;
}

.margin-top-under-sm {
	margin: 20px 0;
}

.margin-right {
	margin-right: 50px;
}

.margin-right-md {
	margin-right: 20px;
}

.margin-right-sm {
	margin-right: 3px;
}

.padding-bottom-sm {
	padding-bottom: 3px;
}

.navbar-toggler {
	margin: 10px 0;
}

.menu-navbar-toggler {
	margin: 10px 0;
}
/*버튼 클래스*/
.btn {
	padding: 5px 10px;
	color: white;
	transition: 0.3s;
	border-radius: 25px;
	z-index: 999;
	white-space: nowrap;
	text-align: center;
}

.btn-lg {
	padding: 10px 30px;
	border-radius: 25px;
}

.btn-md {
	padding: 5px 30px;
	border-radius: 25px;
}

.btn-md:active, .btn-md:focus {
	background-color: #E50914;
}

.btn-primary, .btn-primary:hover {
	background-color: #E50914;
	border-color: #E50914;
	box-shadow: 0 8px 16px 0 #E50914;
}

.btn-secondary, .btn-secondary:hover {
	background-color: #141414;
	border-color: #141414;
	box-shadow: 0 8px 16px 0 #141414;
}
/*리스트로가기버튼*/
.btn-list{
	float:left;
	width:10%;
}
/*취소하기버튼*/
.btn-reset{
	float:left;
	margin-left:50%;
	width:10%;
}
/*게시하기버튼*/
.btn-submit{
	float:right;
	margin-right:20%;
	width:10%;
}

/** Flickity carousel **/
.carousel-cell {
	width: 18%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 50px;
}

.carousel-cell:first-child {
	width: 19%;
	margin-left: 0;
}

.carousel-cell:nth-child(6n+6) {
	width: 19%;
	margin-left: 0;
}

.carousel-cell:nth-child(5n+5) {
	width: 19%;
	margin-right: 0;
}

.carousel-cell>img {
	width: 100%;
	height: 168px;
	object-fit: fill;
	border-radius: 5px;
	cursor: pointer;
	display: block;
}

.carousel-filter-cell {
	width: 18%;
	margin-right: 1%;
	margin-left: 1%;
}

.carousel-filter-cell:first-child {
	width: 19%;
	margin-left: 0;
}

.carousel-filter-cell:nth-child(6n+6) {
	width: 19%;
	margin-left: 0;
}

.carousel-filter-cell:nth-child(5n+5) {
	width: 19%;
	margin-right: 0;
}

.carousel-filter-cell>a, button {
	width: 100%;
}

.card-img-top {
	border-radius: 5px;
	cursor: pointer;
	display: block;
	width: 150px;
	height: 200px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 168px;
	opacity: 0;
	transition: .5s ease;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel-cell:hover>img, .card:hover>img {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

.carousel-cell:hover .overlay, .card:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 1;
}

.flickity-button {
	background: transparent;
	color: white;
	opacity: 0.5;
}

.flickity-button:hover {
	background: transparent;
	opacity: 1;
}

.flickity-prev-next-button {
	width: 50px;
	height: 50px;
}
/* icon color */
.flickity-button-icon {
	fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
	left: -70px;
}

.flickity-prev-next-button.next {
	right: -70px;
}
/* hide disabled button */
.flickity-button:disabled {
	display: none;
}

.row {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.carousel-cell>h3, h4, h5 {
	margin-top: 10px;
}

.carousel-cell>.row>.col-3, .card>.row>.col-3 {
	opacity: 0.5;
	font-size: 15px;
}

.carousel-cell>.row>.rating, .carousel-cell>.row>.col-3:hover,
	.carousel-cell>.row>.selected, .card>.row>.rating, .card>.row>.col-3:hover,
	.card>.row>.selected {
	opacity: 1;
}

.rating {
	color: #FFC107;
}

#loadMore {
	margin-top: -100px;
}

.value {
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	text-align: center;
	display: block;
	color: white;
}

.inline {
	display: inline;
}

.my-select {
	background-color: #E50914;
	color: white;
	font-family: 'BebasNeue';
	letter-spacing: 2px;
	border: 0 none;
	border-radius: 20px;
	padding: 6px 20px;
	width: 50%;
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}

/*footer 커스텀 시작*/
.footer {
	max-width: 980px;
	margin: 20px auto 0;
	padding: 0 4%;
	color: grey;
}

.footer .social-links {
	margin-bottom: 1em;
}

.footer .social-links {
	margin-bottom: 1em
}

.footer .social-links .social-link {
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle
}

.footer .social-links .social-link .svg-icon {
	fill: grey;
	height: 25px;
	width: 36px
}

.footer .footer-help {
	font-size: 16px;
	margin-bottom: 30px;
	color: #fff;
	padding: 0
}

.footer .footer-links {
	font-size: 9px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 0 14px 0;
	padding: 0
}

.footer .footer-link-wrapper {
	list-style-type: none;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-moz-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	margin-bottom: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

@media ( min-width :800px) {
	.footer .footer-link-wrapper {
		-webkit-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%
	}
}

.footer .footer-link {
	color: grey;
	text-decoration: none
}

.footer .footer-link:hover {
	text-decoration: underline
}

.footer .footer-link-update {
	font-weight: 700
}

.footer .footer-copyright {
	font-size: 11px;
	margin-bottom: 15px
}

.footer .footer-copyright-instance {
	padding: 0 4px;
	display: inline-block
}

.footer .service-code {
	margin-bottom: 20px;
	font-size: 13px;
	padding: .5em
}
/*footer 커스텀 끝*/

/*메뉴토글 커스텀 시작*/
.nav-toggle {
	position: relative;
	z-index: 99;
}

#sidebar-wrapper {
	position: fixed;
	right: 0;
	width: 250px;
	height: 100%;
	transition: all .4s ease 0s;
	transform: translateX(250px);
	background: #8A0829;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	bottom: 0px;
}

.sidebar-nav .sidebar-nav-item {
	font-size: 0.6rem;
}

.sidebar-nav li.sidebar-nav-item a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, .2)
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none
}

.sidebar-nav>.sidebar-brand {
	font-size: 1.0rem;
	background: rgba(52, 58, 64, .1);
	height: 58px;
	line-height: 29px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px
}

.sidebar-nav>.sidebar-brand a {
	color: #fff
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: 0 0
}

#sidebar-wrapper.active {
	right: 120px;
	width: 250px;
	transition: all .4s ease 0s;
	bottom: 0px;
}
/*로그인 start*/
.login-wrap {
	width: 100%;
	height: 100%;
	background: black;
	position: relative;
	
}

.login-content {
	font-size: 10px;
	word-break: keep-all;
	color: #333;
	background-color: rgba(20, 20, 20, .75);
	border-radius: 4px;
	box-sizing: border-box;
	margin-left: -250px;
	margin-top: 70px;
	margin-bottom: 200px;
	padding: 60px 68px 40px;
	min-width: 380px;
	min-height: 660px;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
}

.hybrid-login-form-main {
	color: white;
}

.hybrid-login-form-other {
	height: 220px;
	width: 313px;
}

.nfInput, .nfEmailPhoneInput, .login-input, .login-input-email {
	position: relative;
	max-width: 100%;
	padding-bottom: 16px;
}

.nfInputPlacement {
	position: relative;
}

.fb-minimal {
	margin-bottom: 0;
}

.input_id {
	width: 422px;
}

.nfTextField {
	font: inherit;
	font-size: 30px;
	margin: 0;
	box-sizing: border-box;
	display: block;
	box-shadow: none;
	width: 100%;
	border-radius: 4px;
	border: 0;
	height: 70px;
	line-height: 70px;
	padding: 10px 20px 0px;
	background: white;
	position: relative;
}

.placeLabel {
	position: absolute;
	transition: font .1s ease, top .1s ease, transform .1s ease,
		-webkit-transform .1s ease, -moz-transform .1s ease, -o-transform .1s
		ease;
	left: 20px;
	font-size: 11px;
	transform: translateY(0);
	color: #000;
	top: 4px;
}

.login-button {
	font: inherit;
	overflow: visible;
	text-transform: none;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	letter-spacing: .1px;
	user-select: none;
	text-align: center;
	box-sizing: border-box;
	border: 0;
	color: #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .55);
	position: relative;
	display: inline-block;
	min-width: 98px;
	min-height: 37px;
	line-height: 1em;
	background: #e50914;
	padding: 16px;
	width: 100%;
	max-width: 100%;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	margin: 24px 0 12px;
}

.login-signup-now {
	color: #737373;
	font-weight: 500;
	margin-top: 16px;
	font-size: 12px;
}

.recaptcha-terms-of-use {
	position: relative;
	text-align: left;
	margin-top: 11px;
	font-size: 13px;
	color: #8c8c8c;
}

/*마이페이지 선택창 start*/
.mypageDiv {
	display: none;
	font-size: 5px;
}

.mypageDiv .mypageList {
	list-style: none;
	padding-left: 5px;
}

.mypageDiv .mypageList li a {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 10px;
}
/*마이페이지 선택창 end*/
/*로그인 end*/

/*페이지랑 메뉴 겹치는거 방지*/
.tableMargin{
	padding-top: 100px;
	padding-bottom: 100px;
}
/*회원가입 Start*/
.registerTermUl{
	width:440px;
	height:180px;
	list-style: none;
	padding:0px;
}
.registerTermUl li{
	margin: 20px 0px;
	font-size: 20px;
}
.registerTermUl li input[type=checkbox]{
	margin-right: 8px;
	zoom: 1.5
}
/*회원가입 End*/

/*타이틀 및 작성폼 css Start!*/
	/*Titles*/
	.allTitle{
		width:600px;
		height:30px;
		font-size:15px;
	}
	/*Textarea*/
	.allTextArea{
		width:600px;
	}
/*페이징Start*/
	.pagingInfo li{
		margin-right: 10px;
	}
/*페이징End*/

/*테이블Start*/
	/*작성테이블 중앙정렬*/
	.TableAndButtons{
	float:center;
	margin-left:30%;
	}
/*테이블End*/
/*faq_detail*/
#faqForm {
	position: relative;
	z-index: 1;
}
#faqForm table {
	width:80%;
	text-align: center;
	background-color: black;
}

#faqForm table tr th {
	text-align:center
	
}
#faqForm table tr td {
	text-align:center
	width 300px; 
	border: 1px 
	solid #990000;

}
.faqWriteBtn{
     text-align: center;
     width: 100%;
     padding-right: 20px;
}

.faqBtn{
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 2px;
    outline: none;
    cursor: pointer;
    font: 14px/100% Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    
}


.registerForNfTextField {
	font: inherit;
	margin: 0;
	box-sizing: border-box;
	display: block;
	box-shadow: none;
	width: 100%;
	border-radius: 4px;
	border: 0;
	height: 50px;
	font-size:20px;
	line-height: 50px;
	padding: 10px 20px 0;
	background: white;
	position: relative;
}
.selectBox{
	height:50px; 
	background-color: white; 
	width:422px; 
	font-size:20px; 
	text-align-last: center; 
	border-radius: 4px; 
	border: 0;
}
.confirmPlaceLabel{
	position: absolute;
	right: 20px;
	font-size: 11px;
	transform: translateY(0);
	color: black;
	top: 4px;
}
/*게시글 CSS*/
.boardClassMain{
	background-color: white;
	color: black;
	position:relative;
    padding-bottom: 15px;
   	padding-top: 15px;
   	border: 2px solid gold;
}
.boardClassMain .nav-link.active{
	color: black;
	border-bottom: 2px solid #E50914;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}
.boardClassMain a, a:hover{
	color:black;
}

.boardBottomDiv{
	width:80%;
	margin:auto 0px;
	position: relative;
	text-align: center;
}
.boardDetailClassMain{
	width:100%;
	margin:auto 0px;
	position: relative;
	padding-top: 15px;
}
.boardBtnSubmit{
	margin-right:0%;
	width: 100%;
	float: left;
}
.boardDetailTr{
	height:150px;
	overflow: scroll;
}
.boardDetailBtn{
	color:black;
	margin:auto 50px;
	border-radius: 0px;
	width:20%;
	margin-left: 40%;

}
.boardDetailBtn:hover{
	background-color: #E6E6E6;
	opacity: 0.4;
}
.boardTd{
	width:10%;
	text-align: center;
}
.boardCt{
	width:10%;
	text-align: center;
}
.boardTextarea{
	width:100%;
	height:360px;
	overflow: scroll;
}
.boardTitle{
	width:100%;
}

.productListDiv{
	width:90%;
	margin-left:5%;
	height: 100%;
}
.productListDiv table{
	width:100%;
	padding:50px 0.5%;
	border-collapse: separate;
	border-spacing: 0 40px;
}
.productListDiv table tr td{
	width:23%;
	margin:0px 1.5%;
	position:relative;
}
.productListDiv table .row{
	position: absolute; 
	bottom:0px;
	width:92%;
}
.productListTd{
	border-top-width:0px;
}
.productListDiv img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
	object-fit:fill;
}
.tabled{
	width: 100%;
	margin-bottom: 1rem;
 	color: #212529;
 	padding:50px;
 	vertical-align: middle
}
.tabled .picTd{
	height:400px;
	width:60%;
}
.picTd img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
	object-fit:fill;
}
.tabled th,
.tabled td {
  padding: 0.75rem;
  vertical-align: middle
}

.tabled .detail{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
    width:100%;
    height:100px; 
    margin:100px 0; 
}

.middleBox{
	margin: 40px 30px;
}
/*평점보기 게시판 CSS*/
.starPointImg{
	width:15%;
}
.starPointNum{
	width:5%;
	text-align: center;
}
.starContents{
}
.starIdDt{
	width:11%;
	font-size: 8px;
	text-align: center;
}
.cmtIdDt{
	text-align: right;
}
.th_title{
	text-align: left;
	width:66%;
}
.th_author{
	text-align: center;
	width:10%;
}
.th_date{
	text-align: center;
	width:10%;
}
.th_likes{
	width:7%;
	text-align: center;
}
.th_hits{
	width:7%;
	text-align: center;
}
.td_title{
}
.td_author{
	text-align: center;
}
.td_date{
	font-size: 8px;
	text-align: center;
}
.td_likes{
	text-align: center;
}
.td_hits{
	text-align: center;
}
.reviewPostedTime{
	text-align: right;
}
.rvdThNo2{
	width: 7%;
	text-align: center;
}
.rvdLikes{
	width: 8%;
	text-align: center;
}
.rvdTitle{
	width: 80%;
}
.rvdContents{
	width: 10%;
}
.rvdReport{
	text-align: center;
}
/*여기야*/
.slider_wrapper_main {
   position: relative;
   margin: 20px auto;
   height: 280px;
}

.slider_wrapper{
   position: relative;
   width: 1100px;
   margin: 0 auto;
   height: 280px;
   overflow: hidden;
}

.slides {
   position: absolute;
   left: 0;
   top: 0;
   transition: left 0.5s ease-out;
   padding-top: 15px;
   padding-bottom: 0px;
   padding-right: 0px;
   padding-left: 0px;
   height: 265px;
}

.slides li:not(:last-child) {
   float: left;
   margin-right: 30px;
}
.slides li:last-child{
	float:left;
}

.slides .slide_li {
   margin-bottom: 40px;
   width: 198px;
   position: relative;
   height: 280px;
}

.slide_li>img {
   width: 100%;
   height: 168px;
   object-fit: fill;
   border-radius: 5px;
   cursor: pointer;
   display: block;
}

.slide_li:hover>img, .card:hover>img {
   filter: blur(1px);
   -webkit-filter: blur(1px);
}

.slide_li:hover .overlay, .card:hover .overlay {
   opacity: 1;
}

.slide_li>.row>.col-3{
	opacity:0.5;
	font-size:15px;
}
#ContentsLikeCount{
	pont-size:15px;
	opacity:0.5;
}
#ContentsLikeCount:hover{
	opacity:1;
}

.slide_li>.row>.col-3:hover{
	opacity:1;
}

li {
   list-style: none;
}

.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 168px;
   opacity: 0;
   transition: .5s ease;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.5);
}

.text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   opacity: 1;
}

.text-center {
   text-align: center !important;
}

.carousel_wrapper{
   height:280px;
   padding-top:15px;
   position:relative;
}

.prev {
   padding: 1px 6px;
   position: absolute;
   top: 50%;
   left: -70px;
   width: 50px;
   height:50px;
   transform: translateY(-100%);
   background: transparent;
   color: white;
   opacity: 0.5;
}
.prev:focus{
   border:none;
    outline:none;
}
.prev:hover {
   background: transparent;
   opacity: 1;
}
.next {
   padding: 1px 6px;
   position: absolute;
   width: 50px;
   top: 50%;
   height:50px;
   right: -70px;
   transform: translateY(-100%);
      background: transparent;
   color: white;
   opacity: 0.5;
}
.next:focus{
   border:none;
    outline:none;
}
.next:hover {
   background: transparent;
   opacity: 1;
}

/*기본 레이아웃 흰색으로 나오기*/
.layout-wrapper{
	background-color:white;
	width:100%;
	height:100%;
}

/*내리뷰모아보기*/
.myReviewTitle{
	width: 78%;
}
.myReviewDate{
	width: 10%;
	text-align: center;
}
.myReviewLikes{
	width: 6%;
	text-align: center;
}
.myReviewHits{
	width: 6%;
	text-align: center;
}
.myReviewDateTd{
	width: 10%;
	text-align: center;
}
.myReviewLikesTd{
	width: 6%;
	text-align: center;
}
.myReviewHitsTd{
	width: 6%;
	text-align: center;
}
/*QnA*/
.qnaWriteBtn{
		float:right;
}
.qnaNo{
	width: 5%;
}
.qnaTitle{
	width: 70%;
}
.qnaWriter{
	width: 10%
}
.qnaPostedTime{
	width: 15%;
	text-align: center;
}
.boardClassMainQnA{
	background-color: white;
	color: black;
	position:relative;
    padding-bottom: 45px;
   	padding-top: 15px;
   	border: 2px solid gold;
}
.QnACategory{
	width: 10%;
	text-align: center;
}
.qnaAnswerBtn{
	width: 50px;
	float: right;
}
/* 포인트체크 테이블*/
.table-pointCheck{
	font-size:12px;
	text-align:center;
}
.hybrid-register-form-main h1{
	color:white;
}