<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.kosta.watflix.model.mapper.NoticeMapper">
 	<select id="mNoticeGetTotalPostCount" resultType="int">
 		SELECT COUNT(*) FROM notice
 	</select>
	<resultMap type = "noticeVO" id = "noticeBoardRM">
		<result property = "memberVO.id" column="id"/>
	</resultMap>
	<select id="mNoticeGetList" parameterType="pagingBean" resultType="noticeBoardRM">
		SELECT row_number() over(order by notice_no desc) as rnum, notice_no, notice_title,
		
	</select>
	
</mapper>










