<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.watflix.model.mapper.ProductOrderMapper">
 	<resultMap type="productOrderVO" id="productOrderRM">
 		<result property="productVO.productNo" column="product_no"/>
 		<result property="productVO.productName" column="product_name"/>
 		<result property="productVO.productBrand" column="product_brand"/>
 		<result property="productVO.productPoint" column="product_point"/>
 		<result property="productVO.productPic" column="product_pic"/>
 		<result property="memberVO.id" column="id"/>
 	</resultMap>
 	
 	<!-- 상품주문건수 -->
 	<select id="mProductOrderCount" resultType="int">
 		select count(*) from product_order where id=#{value}
 	</select>
 	
 	<!-- 상품주문 리스트 -->
 	<select id="mProductOrderList" resultMap="productOrderRM">
 		select O.ORDER_NO,O.PRODUCT_NO,O.PRODUCT_NAME,O.PRODUCT_BRAND,O.PRODUCT_POINT,O.QUANTITY,O.ID,O.PURCHASED_TIME
		FROM 
		(SELECT row_number() over(order by ORDER_NO) as rnum,O.ORDER_NO,O.PRODUCT_NO,P.PRODUCT_NAME,P.PRODUCT_BRAND,P.PRODUCT_POINT,O.QUANTITY,O.ID,O.PURCHASED_TIME
		FROM PRODUCT_ORDER O,PRODUCT P WHERE P.PRODUCT_NO=O.PRODUCT_NO AND ID=#{id}) O
		WHERE rnum BETWEEN #{pagingBean.startRowNumber} AND #{pagingBean.endRowNumber}
 	</select>
 	
 	<select id="mProductOrderDetail" resultMap="productOrderRM">
 		select O.ORDER_NO,O.PRODUCT_NO,P.PRODUCT_NAME,P.PRODUCT_BRAND,P.PRODUCT_POINT,O.QUANTITY,O.ID,O.PURCHASED_TIME,P.PRODUCT_PIC
	FROM  (SELECT * FROM PRODUCT_ORDER WHERE ORDER_NO=#{orderNo} and id=#{id}) O,PRODUCT P WHERE P.PRODUCT_NO=O.PRODUCT_NO
 	</select>
 	
 	<!-- 상품구매 -->
 	<insert id="mProductOrderAdd" parameterType="productOrderVO">
 		<selectKey keyProperty="orderNo" resultType="int" order="BEFORE">
 			SELECT PRODUCT_ORDER_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 			INSERT INTO PRODUCT_ORDER(ORDER_NO,PRODUCT_NO,QUANTITY,ID) VALUES(#{orderNo},#{productVO.productNo},#{quantity},#{memberVO.id})
 	</insert>
 	
</mapper>
