<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.watflix.model.mapper.ReviewLikeMapper">
	<!-- 리뷰좋아요 추가 -->
	<insert id="mReviewLikeAdd" parameterType="reviewLikeVO">
		INSERT INTO REVIEW_LIKE(REVIEW_NO,ID) VALUES(#{reviewVO.reviewNo},#{memberVO.id})
	</insert>
	<!-- 리뷰좋아요 유무 여부 -->
	<select id="mReviewLikeExist" parameterType="reviewLikeVO" resultType="int">
		SELECT (SELECT COUNT(*) FROM REVIEW_LIKE WHERE REVIEW_NO = #{reviewVO.reviewNo} AND ID = #{memberVO.id}) AS REVIEW_LIKE_COUNT, 
		REVIEW_NO, ID FROM REVIEW WHERE REVIEW_NO = #{reviewVO.reviewNo} AND ID = #{memberVO.id}
	</select>
	<!-- 리뷰좋아요 제거 -->
	<delete id="mReviewLikeRemove" parameterType="revieWLikeVO">
		DELETE FROM REVIEW_LIKE WHERE REVIEW_NO = #{reviewVO.reviewNo} AND ID = #{memberVO.id}
	</delete>
	<!-- 리뷰좋아요 개수 -->
	<select id="mGetReviewLikeCount" resultType="int">
		SELECT COUNT(*) FROM REVIEW_LIKE
	</select>
	
</mapper>





